.square {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 100px;
 
  
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  margin: 0 auto;
}

.heading{
  text-align: center;
}